[Unit]
Description=The Ethereum Blockchain Command Line Interface
Documentation=man:geth(1)
After=network.target
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geth

[Service]
User=preveri
Group=preveri
ExecStart=/usr/bin/geth --datadir=/opt/preveri/chaindata --verbosity 3 --networkid 489 --rpc

[Install]
WantedBy=default.target
